<div class="header-top top-bg d-none d-lg-block">
  <div class="container-fluid">
      <div class="col-xl-12">
           <div class="row d-flex justify-content-between align-items-center">
               <div class="header-info-left">
                   <ul>
                       <li><i class="fas fa-map-marker-alt"></i>65/A, 17th floor, Kings land, New York</li>
                       <li><i class="fas fa-envelope"></i>info@consulting.com</li>
                   </ul>
               </div>
               <div class="header-info-right">
                   <ul class="header-social">
                       <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                   </ul>
               </div>
           </div>
      </div>
  </div>
</div>
