<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header-area">
      <div class="main-header ">
        <app-preloader></app-preloader>
        <app-navigationbar></app-navigationbar>
      </div>
    </div>
  </header>
  <div class="container-fluid maindiv">
    <div class="row">

    <!-- Left Div -->

      <div class="col-2 col ">
        <div class=" container  shadow p-3 bg-body rounded">
          <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
             <p><a href="#">Questions</a></p>
          </div>
          <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
            <nav>
              <ul class="greyleft">
                <li  class="sidenav">
                  <a href="#">Questions for you</a>
                </li>
                <li  class="sidenav">
                  <a href="#">Most asked questions</a>
                </li>
                <li  class="sidenav">
                  <a href="#">Questions for you</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
     </div>

     <!-- middile div -->

    <div class="col-7 col shadow-lg p-3 mb-5 bg-body rounded">
      <div class="container Heading pt-2 text-center shadow-sm p-3 bg-body rounded">
        <p><a href="#">Questions for you</a></p>
      </div>

      <div class="toanswer">
        <div class="container Heading shadow-sm p-3 bg-body rounded ">
          <span class="follow">
            Question added.
          </span>
          <span class="follow">
            Hindi(language)
          </span>
          <div class="question ">
            <a href="#">What is the Hindi meaning of gold?</a>
          </div>
          <span class="answerinfo">
            No answer yet .
          </span>
          <span class="follow">last active 9m ago</span>
          <div class="bottomdiv">
            <button class="mt-1" data-toggle="collapse" data-target="#collapseExample"  mat-raised-button><img src="../../assets/svg(s)/answer.svg" width="20" class="mt-1 mr-1" alt="answer">Answer</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/svg(s)/follow.svg" width="20" alt="follow">Follow</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/svg(s)/pass.svg" width="25" alt="Pass">Pass</button>
            <div class="rightbottom ml-5 mt-2">
              <span class="dislike"><a href="#" ><img src="../../assets/svg(s)/down.png" width="20"  alt="dislike"></a></span>
              <span class="more ml-3"><a href="#"><img src="../../assets/svg(s)/more-options.svg" width="30" alt="more"></a></span>
            </div>
            <div class="answered collapse" id="collapseExample" >
              <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                <span class="username"><img src="../../assets/svg(s)/users.png" width="30"  alt="userimg">Aryan Kapoor .</span>
              </div>
              <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                <a href="#"><img src="../../assets/svg(s)/bold.svg" width="20" class="mr-3" alt="bold"></a>
                <a href="#"><img src="../../assets/svg(s)/italic.svg" width="20" class="mr-3" alt="italic"></a>
                <!-- <a href="#"><img src="../../assets/svg(s)/ol.svg" width="20" class="mr-4" alt="ordered list"></a> -->
                <a href="#"><img src="../../assets/svg(s)/ul.svg" width="23" class="mr-2" alt="unordered list"></a>
                <span ml-auto>
                  <a href="#"><img src="../../assets/svg(s)/photo.svg" width="23" alt=""></a>
                </span>
              </div>
              <div class="inputans">
                <mat-form-field class="ansfield">
                  <textarea matInput name="answerText" class="answerText"  rows="3" placeholder="Write Answer" ></textarea>
                </mat-form-field>
                <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>


              </div>
            </div>
          </div>
       </div>
     </div>
      <div class="toanswer">
        <div class="container Heading shadow-sm p-3 bg-body rounded ">
          <span class="follow">
            Question added.
          </span>
          <span class="follow">
            Hindi(language)
          </span>
          <div class="question ">
            <a href="#">What is the Hindi meaning of gold?</a>
          </div>
          <span class="answerinfo">
            No answer yet .
          </span>
          <span class="follow">last active 9m ago</span>
          <div class="bottomdiv">
            <button class="mt-1" data-toggle="collapse" data-target="#collapseExample" mat-raised-button><img src="../../assets/svg(s)/answer.svg" width="20" class="mt-1 mr-1" alt="answer">Answer</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/svg(s)/follow.svg" width="20" alt="follow">Follow</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/svg(s)/pass.svg" width="25" alt="Pass">Pass</button>
            <div class="rightbottom ml-5 mt-2">
              <span class="dislike"><a href="#" ><img src="../../assets/svg(s)/down.png" width="20"  alt="dislike"></a></span>
              <span class="more ml-3"><a href="#"><img src="../../assets/svg(s)/more-options.svg" width="30" alt="more"></a></span>
            </div>
            <div class="answered collapse" id="collapseExample" >
              <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                <span class="username"><img src="../../assets/svg(s)/users.png" width="30"  alt="userimg">Aryan Kapoor .</span>
              </div>
              <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                <a href="#"><img src="../../assets/svg(s)/bold.svg" width="20" class="mr-3" alt="bold"></a>
                <a href="#"><img src="../../assets/svg(s)/italic.svg" width="20" class="mr-3" alt="italic"></a>
                <!-- <a href="#"><img src="../../assets/svg(s)/ol.svg" width="20" class="mr-4" alt="ordered list"></a> -->
                <a href="#"><img src="../../assets/svg(s)/ul.svg" width="23" class="mr-2" alt="unordered list"></a>
                <span ml-auto>
                  <a href="#"><img src="../../assets/svg(s)/photo.svg" width="23" alt=""></a>
                </span>
              </div>
              <div class="inputans">
                <mat-form-field class="ansfield">
                  <textarea matInput name="answerText" class="answerText"  rows="3" placeholder="Write Answer" ></textarea>
                </mat-form-field>
                <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>


              </div>
            </div>
          </div>
       </div>
     </div>
      <div class="toanswer">
        <div class="container Heading shadow-sm p-3 bg-body rounded ">
          <span class="follow">
            Question added.
          </span>
          <span class="follow">
            Hindi(language)
          </span>
          <div class="question ">
            <a href="#">What is the Hindi meaning of gold?</a>
          </div>
          <span class="answerinfo">
            No answer yet .
          </span>
          <span class="follow">last active 9m ago</span>
          <div class="bottomdiv">
            <button class="mt-1" data-toggle="collapse" data-target="#collapseExample" mat-raised-button><img src="../../assets/svg(s)/answer.svg" width="20" class="mt-1 mr-1" alt="answer">Answer</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/svg(s)/follow.svg" width="20" alt="follow">Follow</button>
            <button mat-raised-button class="ml-2"><img src="../../assets/svg(s)/pass.svg" width="25" alt="Pass">Pass</button>
            <div class="rightbottom ml-5 mt-2">
              <span class="dislike"><a href="#" ><img src="../../assets/svg(s)/down.png" width="20"  alt="dislike"></a></span>
              <span class="more ml-3"><a href="#"><img src="../../assets/svg(s)/more-options.svg" width="30" alt="more"></a></span>
            </div>
            <div class="answered collapse" id="collapseExample" >
              <div class="container Heading shadow-sm p-3 bg-body rounded mt-3">
                <span class="username"><img src="../../assets/svg(s)/users.png" width="30"  alt="userimg">Aryan Kapoor .</span>
              </div>
              <div class="customfont Heading containern shadow-sm p-3 bg-body rounded ">
                <a href="#"><img src="../../assets/svg(s)/bold.svg" width="20" class="mr-3" alt="bold"></a>
                <a href="#"><img src="../../assets/svg(s)/italic.svg" width="20" class="mr-3" alt="italic"></a>
                <!-- <a href="#"><img src="../../assets/svg(s)/ol.svg" width="20" class="mr-4" alt="ordered list"></a> -->
                <a href="#"><img src="../../assets/svg(s)/ul.svg" width="23" class="mr-2" alt="unordered list"></a>
                <span ml-auto>
                  <a href="#"><img src="../../assets/svg(s)/photo.svg" width="23" alt=""></a>
                </span>
              </div>
              <div class="inputans">
                <mat-form-field class="ansfield">
                  <textarea matInput name="answerText" class="answerText"  rows="3" placeholder="Write Answer" ></textarea>
                </mat-form-field>
                <button type="submit" class="postbtn" mat-stroked-button >Post</button>
                <button type="button" class="draftbtn mt-2" mat-stroked-button >Save Draft</button>


              </div>
            </div>
          </div>
       </div>
     </div>
    </div>

     <!-- Right div -->

      <div class="col-3 col shadow p-3 mb-5 bg-body rounded righttable">
        <div class="container Heading pt-2 text-center shadow-sm p-3 bg-body rounded">
          <p><a href="#">Add Topics you know</a></p>
        </div>
        <div class="container-fluid topics pt-2 shadow-sm p-3 bg-body rounded">
          <p>Adding topics helps us find questions for you to answer</p>
          <button mat-stroked-button class="topicbtn">Add Topics</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</body>
</html>
