
  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center mainbg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Buson</p>
                            <h1 data-animation="fadeInLeft" data-delay=".6s" > Share and grow the world's Knowledge!</h1>
                            <!-- Hero-btn -->
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                <a href="industries.html" class="btn hero-btn mybutton">Ask Questions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

