<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
        <div class="maindiv">
          <div class="heading font-weight-bold text-center mb-2">
            Add Credentials
          </div>
          <div class="headinginfo mb-2">
            Credentials add credibility to your content
          </div>
          <form #credentials="ngForm" (ngSubmit)="onSubmit(credentials)">
            <div class="inputfields">
              <mat-form-field class="example-full-width">
                <mat-label>Contact</mat-label>
                <input matInput placeholder="Enter your contact." name="contact" #contact="ngModel" [(ngModel)]="userServices.userCredentials.contact">
              </mat-form-field><br>
              <mat-form-field class="example-full-width">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Enter your location." name="location" #location="ngModel" [(ngModel)]="userServices.userCredentials.location">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Languages</mat-label>
                <input matInput placeholder="Enter languages you know." name="languages" #languages="ngModel" [(ngModel)]="userServices.userCredentials.languages">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>UserId</mat-label>
                <input  matInput placeholder="Enter your Id." name="userID" #userID="ngModel" [(ngModel)]="userServices.userCredentials.userID">
              </mat-form-field>
              <button mat-raised-button style="width: 100%;" type="submit" (click)="onClickSubmit()" color="primary">Create</button>
              <button mat-stroked-button style="width: 100%;" class="mt-1" type="button" [mat-dialog-close]="true" >Cancel</button>
            </div>
          </form>
        </div>
</body>
</html>
