<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
        <div class="maindiv">
          <div class="heading font-weight-bold text-center">
            Edit Credentials
          </div>
          <div class="headinginfo">
            Credentials add credibility to your content
          </div>
          <div class="addcredential">
            <mat-form-field >
              <mat-label>Add a Credential</mat-label>
              <mat-select>
                <mat-option name="Mathematics">Mathematics</mat-option>
                <mat-option name="dance">Dance</mat-option>
                <mat-option name="Crypto">Crypto&Blockchain</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="ycredenhead text-uppercase mb-3">
            Your Credentials
          </div>
          <mat-divider></mat-divider>
          <div class="container location mb-3">
            Lives in Raipur Rani, Haryana, India <span class="edit"><a href="#">.edit</a></span>
          </div>
          <mat-divider></mat-divider>
          <div class="container language mb-3">
            Knows Hindi <span class="edit"><a href="#">.edit</a></span>
          </div>
          <mat-divider></mat-divider>

        </div>
</body>
</html>
