<header>
  <div class="header-area">
    <div class="main-header ">
      <app-preloader></app-preloader>
      <app-navigationbar></app-navigationbar>
    </div>
  </div>
</header>
<div class="contact p-5 container">
  <div class="ml-auto mt-5 cform">
    <form action="#" class=" d-inline ">
     <div class="container">
     <div class="container text-center need">
      <h2>Need support?</h2>
     </div>
      <mat-form-field class="example-full-width ">
        <input matInput placeholder="Enter your name" >
      </mat-form-field><br>
      <mat-form-field class="example-full-width ">
        <input matInput placeholder="Enter your email" >
      </mat-form-field><br>
      <mat-form-field >
        <textarea matInput placeholder="Enter details of your request" ></textarea>
      </mat-form-field>
      <button mat-raised-button class="subutn">Submit</button>
     </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
