<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
        <div class="maindiv">
          <div class="font-weight-bold mainheading text-center well mt-2">Suggested Peoples to Follow</div><br><br>
          <mat-divider></mat-divider>
          <div class="Peoples">
            <div class="container name">
              Crypto and Blockchain
            </div>
            <div class="container d-inline followers">
              13.1k Followers
            </div>
            <div class="d-inline newposts ">4 new posts this month</div>
            <div class="info container">
              A cotegory to discuss new researches in crypto and blockchain.
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="Peoples">
            <div class="container name">
              Crypto and Blockchain
            </div>
            <div class="container d-inline followers">
              13.1k Followers
            </div>
            <div class="d-inline newposts">4 new posts this month</div>
            <div class="info container">
              A cotegory to discuss new researches in crypto and blockchain.
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="Peoples">
            <div class="container name">
              Crypto and Blockchain
            </div>
            <div class="container d-inline followers">
              13.1k Followers
            </div>
            <div class="d-inline newposts">4 new posts this month</div>
            <div class="info container">
              A cotegory to discuss new researches in crypto and blockchain.
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="Peoples">
            <div class="container name">
              Crypto and Blockchain
            </div>
            <div class="container d-inline followers">
              13.1k Followers
            </div>
            <div class="d-inline newposts">4 new posts this month</div>
            <div class="info container">
              A cotegory to discuss new researches in crypto and blockchain.
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="Peoples">
            <div class="container name">
              Crypto and Blockchain
            </div>
            <div class="container d-inline followers">
              13.1k Followers
            </div>
            <div class="d-inline newposts">4 new posts this month</div>
            <div class="info container">
              A cotegory to discuss new researches in crypto and blockchain.
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
</body>
</html>
