.mainheading{
  font-size: 1.6rem;
}
.border{
  border: 1px solid red !important;
}
.name{
  font-size: 1.rem;
  font-weight: 500;
  color: #282829;
}
.followers,
.newposts{
  color: #636466;
  font-size: 0.8rem;
}
.info{
  font-size: 0.8rem;
  color: #282829;
}
