<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
      <div class="mainbox">
        <div class="heading font-weight-bold text-center mb-2">
          Create a Category
        </div>
        <div class="infoheading mb-2">
          Create a Space to share your interests, curate content, host discussions, and more.
        </div>
        <div class="inputfields">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter name of your category.">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput placeholder="One line description of category.">
          </mat-form-field>
          <button mat-raised-button style="width: 100%;" color="primary">Create</button>
        </div>
      </div>
</body>
</html>
