.border{
  border: 1px solid yellow !important;
}
ul li.sidenav{
  margin-bottom:15px;
  text-decoration: none !important;
  color: black !important;
}
.greyleft li a{
  color: gray;
}
.Heading{
  /* border: 1px solid #ccccb3; */
  /* border: 1px solid #e6e6e3; */
  background-color: white;
  margin-bottom: 0.6rem;
  /* box-shadow: 5px 10px #888888; */
}
.Heading p{
  color: #002d5b  ;
  font-weight: bold;
  font-size: 1.5rem;
}
.Heading p a{
  color: #002d5b  ;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.Heading p a:hover{
  color: #46637c  ;
  font-weight: bold;
  font-size: 1.6rem;
}
.Heading p button{
  color: #002d5b  ;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.Heading p a:hover{
  color: #46637c  ;
  font-weight: bold;
  font-size: 1.6rem;
}

/* CENTER DIV STARTED HERE */
.name{
  font-size: 1.5rem;
}
