<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header-area">
      <div class="main-header ">
        <app-preloader></app-preloader>
        <app-navigationbar></app-navigationbar>
      </div>
    </div>
  </header>

  <!-- BODY STARTS HERE... -->

  <div class="row maindiv">

    <!--  LEFT DIV STARTS HERE.. -->

    <div class="col col-2 border">
      <div class=" container  shadow-sm p-3 bg-body rounded">
        <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
           <p><a href="#">Category</a></p>
        </div>
        <div class="container-fluid Heading pt-2 shadow-sm p-3 bg-body rounded">
          <nav>
            <ul class="greyleft">
              <li  class="sidenav">
                <a href="/category">Pariyanka Chopra(Musician)</a>
              </li>
              <li class="sidenav">
                <a href="#">Gurtej Singh(Best Teacher)</a>
              </li>
              <li class="sidenav">
                <a href="#">Sports</a>
              </li>
              <li class="sidenav">
                <a href="#">Mathematics</a>
              </li>
              <li class="sidenav">
                <a href="#">Music</a>
              </li>
              <li class="sidenav">
                <a href="#">Fashion and Style</a>
              </li>
              <li class="sidenav">
                <a href="#">food</a>
              </li>
              <li class="sidenav">
                <a href="#">+ Discover Category</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- CENTER DIV STARTS HERE...  -->

    <div class="col col-7 border">
      <div class="container about">
        <div class="d-inline border">
          <img src="../../assets/svg(s)/Sports.png" width="80" alt="">
        </div>
        <div class="d-inline font-weight-bold name border">
          Sports
        </div><br>
        <button mat-stroked-button class="border">following</button>
      </div>
    </div>

    <!-- RIGHT DIV STARTS HERE  -->

    <div class="col col-3 border">
      hii user
    </div>

  </div>

</body>
</html>
